---
layout: default
---
<h1 id="about">About</h1>

<!-- <p style="font-size:18px; color:black">
    <b>Incoming PhD at UMich in Fall 2024!! </b>
    <br> 
    <b>Thank you to everyone who supported and helped me during the application season!</b>
</p> -->

<p style="font-size:18px">
    I am a PhD candidate of Robotics Department at University of Michigan (<a href="https://robotics.umich.edu/" target="_blank">UMich</a>), where I work on legged robot control and learning with Prof. <a href="https://sites.google.com/view/yanranding/home/" target="_blank">Yanran Ding</a>.
    Prior to that, I received my bachelor degree from Southern University of Science and Technology (<a href="https://mee.sustech.edu.cn/en" target="_blank">SUSTech</a>), majoring in Robotics Engineering. Advised by professor <a href="https://www.wzhanglab.site/members/" target="_blank">Wei Zhang</a>, I had a great research experience on MPC and RL of quadruped robots.
</p>

<p style="font-size:18px">
    I am particularly interested in <b>agile legged locomotion</b> in dynamic environments, with a focus on <b>control and learning</b> methods,
    and proficient in developing <b>efficient and deployable</b> robotic algorithms.
    When I'm not immersed in technology, you can find me swimming or playing badminton.
</p>

<h1 id="news">News</h1>
{% include news.html %}

<h1 id="service">Academic Service</h1>
{% include service.html %}

<h1 id="experience">Experience</h1>
{% include experience.html %}

<h1 id="project">Selected Projects</h1>
{% include projects.html %}

<!-- Let's keep Publications and Patents adjacent  -->
<!-- <h1 id="publication">Publications</h1> -->
<!-- include publications.html -->
<!-- <h1 id="pat">Patents</h1> -->
<!-- include patents.html -->

<h1 id="education">Education</h1>
{% include education.html %}

<!-- <h1 id="hon">Honors & Awards</h1> -->
<!-- include awards.html -->

<!-- ! make images in zoom class clickable -->
<div id="image-cover-modal" class="image-cover-modal">
  <img id="image-cover-image" class="image-cover-modal-content">
  <!-- <div id="image-cover-caption"></div> -->
</div>

<script src="assets/js/img_zoom.js"></script>
